// colours
$medium-teal: #008aa9;
$dark-grey: #5b666f;
$blue-gray: #7caed2;
$white: #ffffff;
$light-gray: #bbbbbb;
$dark-teal: #00667f;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

$primary: Town23Lines, Raleway, "sans-serif";
$secondary: Montserrat, Raleway, "sans-serif";