// colours
$black: #000;
$medium-teal: #008aa9;
$dark-grey: #5b666f;
$blue-gray: #7caed2;
$white: #ffffff;
$light-gray: #bbbbbb;
$dark-teal: #00667f;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// padding
$bodyPadding1: 9vw;
$bodyPadding2: 17.5vw;

$font_primary: Town23Lines, Raleway, "sans-serif";
$font_secondary: Montserrat, Raleway, "sans-serif";
$font_intro_content: Town80Text, Raleway, "sans-serif";
$font_title_footer: Town80TextBold, Raleway, "sans-serif";
$font_image_with_text: Town80TextBook, Raleway, "sans-serif";
$font_menu_items: Town80TextMedium, Raleway, "sans-serif";
$font_script: "JasmineScript", cursive;
