header#header-style-2 {
  padding: 0;
  top: 35px;
  width: 100%;
  height: calc(100% - 93px);
  box-sizing: border-box;

  @include respond-to(tablet) {
    height: calc(100% - 84px);
    top: 31px;
  }

  @include respond-to(desktop) {
    height: calc(100% - 130px);
    top: 66px;
  }

  .torque-header-logo-wrapper {
    width: 122px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;

    @include respond-to(tablet) {
      width: 256px;
      margin: 25px auto 0;
    }

    @include respond-to(desktop) {
      width: 376px;
      margin: 34px auto 0;
    }

    img {
      height: auto;
      width: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }
  
  .torque-header-content-wrapper {
    .torque-header-burger-menu-wrapper {
      position: relative;
      height: 100%;
      
      @include respond-to(tablet) {
        display: none;
      }
    .torque-burger-menu {
        position: absolute;
        right: calc(0px - ((((100vw - 15px) / 2) - 50%) - 12px));
        top: -14px;
        transform: translateY(-50%);
        
        .torque-burger-menu-line {
          background-color: $white;
          width: 18px;
        }
      }
    }

    .torque-header-menu-items-inline-wrapper {
      .torque-menu-item {
        padding-left: 20px;
        padding-right: 20px;
        font-family: $font_menu_items;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: $white;
        transition-duration: 0.3s;

        @include respond-to-max(desktop) {
          font-size: 15px;
        }

        &.active, &:hover {
          color: $blue-gray;
        }
      }
      
      @include respond-to-max(tablet) {
        display: none;
      }
    }
  }
  
  .torque-header-menu-items-mobile {
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    height: auto;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s;
    margin-top: 56px;
    padding-top: 30px;
    padding-right: 17.5vw;
    padding-left: 17.5vw;
    padding-bottom: 35px;
    right: auto;
    left: 0;
    max-width: 100vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(228, 227, 223, 0.85);
    text-align: right;
    margin: 0;

    &.active {
      max-height: 100vh;
      opacity: 1;
    }

    &:not(.active) {
      padding: 0;
    }
  }
}

.page-hero.type-none {
  #header-style-2 {
    position: relative;
    background-color: $dark-teal;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 31px 0 32px;

    @include respond-to(tablet) {
      padding: 28px 0 50px;
    }

    @include respond-to(desktop) {
      padding: 64px 0 63px;
    }

    .hero-left-border, .hero-right-border, .hero-center-bottom-border{
      display: none;
    }
  }
}