header#header-style-2 {
  padding: 66px 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  
  .torque-header-logo-wrapper {
    height: 100%;

    div {
      width: 120px;
      height: 100%;
    }

    img {
      height: 100%;
      width: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }
  
  .torque-header-content-wrapper {
    .torque-header-burger-menu-wrapper {
      position: relative;
      height: 100%;
      
      @include respond-to(desktop) {
      display: none;
    }
    .torque-burger-menu {
        position: absolute;
        right: 0;
        top: 10%;
        transform: translateY(-50%);
        .torque-burger-menu-line {
          background-color: #fff;
        }
      }
    }

    .torque-header-menu-items-inline-wrapper {
      .torque-menu-item {
        padding-left: 10px;
      }
      
      @include respond-to-max(desktop) {
        display: none;
      }
    }
  }
  
  .torque-header-menu-items-mobile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s;
    margin-top: 56px;
    padding-top: 30px;
    padding-right: 17.5vw;
    padding-left: 17.5vw;
    padding-bottom: 35px;
    right: 0;
    left: unset;
    max-width: 485px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(228, 227, 223, 0.85);
    text-align: right;

    &.active {
      max-height: 100vh;
      opacity: 1;
    }

    &:not(.active) {
      padding: 0;
    }
  }
}
  