.page-hero {
    position: relative;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 75px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;
  z-index: 9999;

  .side_box {
    flex: 0 1 25%;
  }

  .menu_items_wrapper {
    flex: 1 0 50%;

    .menu-items {
        list-style-type: none;
    }

    .logo {
      width: 80%;
      max-width: 400px;
    }
  }
  .torque-header-overlay-container {
    position: relative;
    height: 100%;

    .hero-left-border {
      position: absolute;
      right: auto;
      border: 2px solid #ffffff;
      border-right-width: 0;
      width: calc(((((100vw - 30px) / 2) - 50%)) - 106px);
      left: calc(0px - (((((100vw - 30px) / 2) - 50%)) - 76px));
      top: 0;
      bottom: -23px;

      .hero-left-sub-border {
        position: absolute;
        border: 2px solid #ffffff;
        border-right-width: 0;
        top: 23px;
        bottom: 23px;
        left: 23px;
        right: 0;
      }
    }

    .hero-right-border {
      position: absolute;
      right: auto;
      border: 2px solid #ffffff;
      border-left-width: 0;
      width: calc(((((100vw - 30px) / 2) - 50%)) - 106px);
      right: calc(0px - (((((100vw - 30px) / 2) - 50%)) - 76px));
      top: 0;
      bottom: -23px;

      .hero-right-sub-border {
        position: absolute;
        border: 2px solid #ffffff;
        border-left-width: 0;
        top: 23px;
        bottom: 23px;
        right: 23px;
        left: 0;
      }
    }
  }
}