@font-face {
  font-family: Town23Lines;
  src: url('../statics/fonts/Town-Font/Town 23 Lines/Town23Lines-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Town23LinesMedium;
  src: url('../statics/fonts/Town-Font/Town 23 Lines/Town23Lines-MediumOuter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Town80Text;
  src: url('../statics/fonts/Town-Font/Town 80 Text/Town80Text-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Town80TextMedium;
  src: url('../statics/fonts/Town-Font/Town 80 Text/Town80Text-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Town80TextBold;
  src: url('../statics/fonts/Town-Font/Town 80 Text/Town80Text-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");