@import "fonts";
@import "../partials/variables";

body {
  font-family: $font_primary;
  font-size: 15px;
  line-height: 1.4;
  color: $blue-gray;

  @include respond-to(tablet) {
    font-size: 16px;
    line-height: 1.56;
  }
}

h1 {
  font-family: $font_secondary;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.08;
  color: $blue-gray;

  @include respond-to(tablet) {
    font-size: 48px;
    line-height: 0.96;
  }

  @include respond-to(desktop) {
    font-size: 64px;
  }

  em {
    font-family: $font_script;
    font-size: 72px;
    color: $blue-gray;

    @include respond-to(tablet) {
      font-size: 144px;
    }

    @include respond-to(desktop) {
      font-size: 200px;
    }
  }
}

h2 {
  font-family: $font_secondary;
  font-size: 26px;
  line-height: 1.04;
  color: $blue-gray;

  @include respond-to(tablet) {
    font-size: 36px;
  }
}

h3 {
  font-family: $font_secondary;
  font-size: 30px;
  line-height: 1.07;
}

h4 {
  font-family: $font_secondary;
  font-size: 22px;
  font-weight: 600;
  color: $blue-gray;
}

a {
}

%button {
  border: solid 2px $blue-gray;
  padding: 12px 20px;
  height: 50px;
  box-sizing: border-box;

  font-family: $font_primary;
  font-size: 16px;
  letter-spacing: 0.1px;
  text-align: center;
  color: $blue-gray;
  background-color: transparent;

  transition: all 0.3s ease;

  @include respond-to(tablet) {
    min-width: 130px;
  }

  &:hover {
    background-color: $blue-gray;
    color: $white;
  }
}

%blue {
  border-color: $blue-gray;
  color: $blue-gray;

  &:hover {
    background-color: $blue-gray;
    color: $white;
  }
}

%gray {
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    color: $white;
  }
}

%dark-blue {
  border-color: $blue-gray;
  color: $blue-gray;

  &:hover {
    background-color: $blue-gray;
    color: $white;
  }
}

button {
  @extend %button;

  &.blue {
    @extend %blue;
  }

  &.gray {
    @extend %gray;
  }

  &.dark-blue {
    @extend %dark-blue;
  }
}

input {
  margin-bottom: 10px;
  border: none;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
