@import "../../../typography/fonts";
@import "../../../partials/variables";

.torque-menu-items-inline {
  .torque-menu-item-wrapper {
    display: inline-block;
    color: $white;
    font-family: $font_menu_items;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.torque-menu-items-stacked {
  .torque-menu-item-wrapper {
    display: block;
    text-align: center;
  }
}
