.blog-posts-section {
  margin: 0 auto;
  padding: 0 56px;
  max-width: calc(100% - 104px);
  width: 510px;

  @include respond-to(desktop) {
    width: 1176px;
    padding: 0px;
  }

  #blog-loop-entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;

    @include respond-to(tablet) {
      padding-bottom: 30px;
    }
    
    @include respond-to(desktop) {
      padding-bottom: 20px;
    }

    .loop-blog {
      position: relative;
      padding: 0 12px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 24px);
      flex: 0 0 calc(100% - 24px);
      max-width: calc(100% - 24px);
      margin-bottom: 60px;

      @include respond-to(tablet) {
        -ms-flex: 0 0 calc(50% - 24px);
        flex: 0 0 calc(50% - 24px);
        max-width: calc(50% - 24px);
      }
      
      @include respond-to(desktop) {
        -ms-flex: 0 0 calc(33.333333% - 24px);
        flex: 0 0 calc(33.333333% - 24px);
        max-width: calc(33.333333% - 24px);
      }

      &:first-child {
        .image-size::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0.65;
          border: solid 16px $blue-gray;
        }
      }

      .image-position {
        margin: 0 0 40px;

        .image-size {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;

          &:after {
            content: "";
            display: block;
            padding-bottom: 87%;
          }
        }
      }
      h2 {
        color: $dark-grey;
        font-size: 16px;
        line-height: 26px;
        font-family: $font_menu_items;
        margin: 0 0 5px;

        @include respond-to(tablet) {
          font-size: 18px;
        }
      }

      .excerpt {
        color: $dark-grey;
        font-size: 15px;
        line-height: 18px;
        font-family: $font_intro_content;
        margin-bottom: 12px;

        @include respond-to(tablet) {
          font-size: 18px;
          line-height: 26px;
        }
        
        p {
          margin: 0;
        }

        p + p {
          margin-top: 10px;
        }
      }

      .read-more {
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        font-family: $font_menu_items;
        color: $blue-gray;

        @include respond-to(tablet) {
          font-size: 18px;
        }
      }
    }
  }
}