.intro-wrapper {
  max-width: 100%;
  padding: 52px 0 44px;
  margin: 0 56px;

  @include respond-to(tablet) {
    padding: 82px 0 69px;
  }

  @include respond-to(desktop) {
    padding: 130px 0 104px;
  }

  .intro-title {
    margin: 0 auto;
    width: 510px;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 8px 0;

    @include respond-to(tablet) {
      width: 510px;
    }

    @include respond-to(desktop) {
      width: 976px;
    }

    .intro-border {
      margin: 0;
      text-align: center;
      padding: 10px 0;
      font-family: $font_primary;
      line-height: 26px;
      font-size: 24px;
      position: relative;
      display: block;

      @include respond-to(tablet) {
        line-height: 43px;
        font-size: 39px;
      }

      @include respond-to(desktop) {
        line-height: 72px;
        font-size: 60px;
        display: inline-block;
      }

      &:before {
        content: "";
        position: absolute;
        top: -8px;
        border: 2px solid $blue-gray;
        border-left-width: 0;
        border-right-width: 0;
        height: 4px;
        width: 100%;
        left: 0;

        @include respond-to(desktop) {
          width: calc(100% + 48px);
          left: -24px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        border: 2px solid $blue-gray;
        border-left-width: 0;
        border-right-width: 0;
        height: 4px;
        width: 100%;
        left: 0;

        @include respond-to(desktop) {
          width: calc(100% + 48px);
          left: -24px;
        }
      }
    }
  }

  .description {
    color: $dark-grey;
    font-family: $font_intro_content;
    font-size: 15px;
    line-height: 24px;
    margin: 0 auto;
    width: 510px;
    max-width: 100%;
    padding: 17px 0 0 0;

    @include respond-to(tablet) {
      width: 510px;
      padding: 43px 0 0 0;
      font-size: 18px;
      line-height: 28px;
    }

    @include respond-to(desktop) {
      width: 776px;
      padding: 64px 0 0 0;
      font-size: 24px;
      line-height: 35px;
    }
  }
}
