.torque-slideshow-react-entry[data-template^="ust_floorplans"] {
  display: block;

  @include respond-to(tablet) {
    padding-bottom: 70px;
  }

  .tq-items-list {
    position: relative;
    padding-top: 60px !important;

    @include respond-to(tablet) {
      padding-top: 70px !important;
    }

    &::after {
      content: "";
      display: block;
      top: 0;
      left: 56px;
      right: 56px;
      bottom: auto;
      height: 1px;
      background-color: #979797;
      position: absolute;


      @include respond-to(tablet) {
        left: 61px;
        right: 61px;
      }

      @include respond-to(desktop) {
        left: 12px;
        right: 12px;
      }
    }
  }

}

.tq-slideshow.template_ust_floorplans {

  &.lightbox-active {

    .tq-side-overlay {
      display: none;
      // position: fixed;
      // height: 100%;
      // top: 0;

      // &:after {
      //   top: 60%;
      //   padding: 0.5em;
      //   background-size: 20px;
      //   background-position: center;
      //   background-color: rgba(255, 255, 255, 0.6);
      // }

      // &-left {
      //   left: 0;
      // }
      // &-right {
      //   right: 0;
      // }
    }
  }

  @include respond-to-max(tablet) {
    padding-bottom: 0px;
    height: auto;
  }

  .tq-side-overlay {
    @include respond-to-max(tablet) {
      display: none;
    }

    width: calc(((50vw - 588px) / 2));
    min-width: 56px;
  }

  .tq-slide {
    @include respond-to-max(tablet) {
      position: static;
    }

    .post-slide.post-type-Floor-Plans {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 0 56px;
      max-width: calc(100% - 112px);
      width: 510px;
      position: relative;

      @include respond-to(tablet) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 49% 49%;
        grid-row-gap: 2%;
        grid-column-gap: 20px;

        height: 100%;
        box-sizing: border-box;
        width: 632px;
      }

      @include respond-to(desktop) {
        width: 1176px;
        padding: 0px;
      }

      &::after{
        @include respond-to(tablet) {
          content: "";
          position: absolute;
          top: auto;
          left: 56px;
          right: 56px;
          bottom: -70px;
          height: 1px;
          background-color: #979797;
        }

        @include respond-to(desktop) {
          left: 0;
          right: 0;
        }
      }

      .slideshow-post-field {
        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .slideshow-stacking-plan {
        order: 1;

        @include respond-to(tablet) {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }
      }

      .slideshow-floor-plan {
        position: relative;
        order: 2;

        @include respond-to(tablet) {
          grid-column: 2 / 3;
          grid-row: 2 / 3;

          img {
            object-fit: cover;
          }
        }

        button {
          position: absolute;
          bottom: 0;
          right: 0;

          background-color: $white;
          border-color: $white;
          color: $dark-teal !important;

          span::after {
            content: "";

            display: inline-block;
            margin-left: 5px;
            width: 12px;
            height: 11px;

            background-image: url("../statics/images/arrow-down.svg");
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }

      .slideshow-view {
        order: 3;

        @include respond-to(tablet) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}
