.torque-slideshow-react-entry {
  .tq-items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 65px $bodyPadding2 60px;

    @include respond-to(tablet) {
      justify-content: center;
    }

    button {
      @extend %dark-blue;

      text-align: center;
      font-size: 15px;
      line-height: 19px;
      font-family: $font_image_with_text;
      margin: 10px 15px;

      @include respond-to(tablet) {
        width: 100%;
        font-size: 18px;
        line-height: 37px;
      }

      @include respond-to(desktop) {
        font-size: 22px;
        line-height: 37px;  
      }

    }
  }

  .tq-tracker {
    display: none;
  }

  .tq-side-overlay {
    background: none !important;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      height: 26px;
      width: 13px;
      transform: translate(-50%, -50%);

      background-image: url("../statics/images/arrow-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.tq-side-overlay-right {
      &::after {
        transform: translate(-50%, -50%) rotateY(180deg);
      }
    }

    img {
      display: none;
    }
  }
}

@import "./floor-plans-slideshow";
@import "./locations-slideshow";
