.torque-slideshow-react-entry {
  .tq-items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 10px 56px 60px !important;
    margin: 0 auto;
    max-width: calc(100% - 112px);
    width: 510px;
    justify-content: left;


    @include respond-to(tablet) {
      margin: 0 auto;
      max-width: calc(100% - 80px);
      width: 518px;
    }

    @include respond-to(desktop) {
      padding: 10px 0px 60px !important;
      width: 1200px;
    }

    button {
      @extend %dark-blue;
      width: 100%;
      height: auto;
      padding: 12px 8px;
      margin: 0 0 24px;

      @include respond-to(tablet) {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 12px 5px;
        max-width: calc(50% - 10px);
        margin: 0 5px 10px;
      }

      @include respond-to(desktop) {
        padding: 12px 8px;
        max-width: calc(50% - 40px);
        margin: 0 12px 24px;
      }
    }
  }

  .tq-tracker {
    display: none;
  }

  .tq-side-overlay {
    min-width: 56px;
    background: none !important;

    @include respond-to(desktop) {
      width: calc(((50vw - 588px) / 2)) !important;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      height: 26px;
      width: 13px;
      transform: translate(-50%, -50%);

      background-image: url("../statics/images/arrow-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.tq-side-overlay-right {
      &::after {
        transform: translate(-50%, -50%) rotateY(180deg);
      }
    }

    img {
      display: none;
    }
  }
}

@import "./floor-plans-slideshow";
@import "./locations-slideshow";
