.post-container {
  margin: 0 auto;
  padding: 40px 12px 50px;

  .wp-block-button {
    display: none;
  }

  @include respond-to(tablet) {
    padding: 85px 12px;
    max-width: calc(100% - 104px);
    width: 510px;
  }

  @include respond-to(desktop) {
    width: 1176px;
    padding: 120px 12px 100px;
  }

  .row {
    margin-right: -12px;
    margin-left: -12px;

    @include respond-to(desktop) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify!important;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important;
    }

    &::after{
      width: 100%;
    }

    .blog-post-data {
      max-width: 100%;
      padding: 0;

      @include respond-to(tablet) {
        padding: 0 12px;
      }
    
      
      @include respond-to(desktop) {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 676px;
      }

      .tq-title {
        margin: 0 0 20px;
        padding: 0;

        @include respond-to-max(tablet) {
          margin: 0 auto 20px;
          padding: 0 56px;
          max-width: calc(100% - 112px);
          width: 510px;
        }

        @include respond-to(desktop) {
          margin: 0 0 40px;
        }
        
        h1 {
          font-family: $blog_post_title;
          color: $medium-teal;
          margin: 0 0 6px;
          font-size: 20px;
          line-height: 26px;
          text-transform: uppercase;

          @include respond-to(tablet) {
            font-size: 35px;
            line-height: 45px;
            margin: 0 0 20px;
          }

          @include respond-to(desktop) {
            margin: 0 0 40px;
            font-size: 45px;
            line-height: 50px;
          }
        }

        .post-date, h3 {
          font-family: $font_post_content;
          color: $dark-grey;
          font-weight: normal !important;
          margin: 0;
          font-size: 15px;
          line-height: 24px;

          @include respond-to(tablet) {
            font-size: 18px;
            line-height: 28px;
          }

          @include respond-to(desktop) {
            font-size: 24px;
            line-height: 35px;
          }
        }
      }

      .post-thumbnail{
        margin-bottom: 40px;

        div {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 238px;

          &::after {
            content: "";
            display: block;
            padding-bottom: 57%;
          }
        }
      }

      article {
        font-family: $font_post_content;
        color: $dark-grey;
        font-size: 15px;
        line-height: 24px;
        padding: 0;

        @include respond-to-max(tablet) {
          margin: 0 auto 20px;
          padding: 0 56px;
          max-width: calc(100% - 112px);
          width: 510px;
        }
        
        @include respond-to(tablet) {
          font-size: 18px;
          line-height: 28px;
        }

        @include respond-to(desktop) {
          font-size: 24px;
          line-height: 35px;
        }

        p {
          margin-top: 0;
          margin-bottom: 30px;
        }
      }
    }

    .blog-post-line {
      min-height: 1px;
      padding: 0 12px;
      max-width: 100%;
      margin: 40px 0;
      
      @include respond-to(tablet) {
        margin: 64px 0;
      }

      @include respond-to(desktop) {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 1px;
        padding: 0 30px;
        margin: 0;
      }

      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background-color: #979797;
        min-height: 1px;
      }
    }

    .blog-post-sidebar {
      padding: 0 12px;
      max-width: 100%;

      @include respond-to-max(tablet) {
        margin: 0 auto 20px;
        padding: 0 56px;
        max-width: calc(100% - 112px);
        width: 510px;
      }

      @include respond-to(desktop) {
        max-width: 327px;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }

      h4 {
        color: $dark-teal;
        margin: 0 0 12px;
        font-size: 18px;
        line-height: 20px;

        @include respond-to(tablet) {
          margin: 0 0 24px;
          font-size: 24px;
          line-height: 37px;
        }
      }

      form {
        display: flex;
        margin-bottom: 40px;
  
        label {
          width: calc(100% - 49px);
        }
  
        .screen-reader-text {
          display: none;
        }
    
        .search-field {
          width: 100%;
          border: 1px solid #979797;
          border-right: none;
          color: $dark-grey;
          font-family: $font_image_with_text;
          font-size: 18px;
          line-height: 26px;
          height: 43px;
          margin: 0;
        }
      
        .search-submit {
          width: 49px;
          height: 43px;
          background-color: $dark-teal;
          background-image: url("../statics/images/white_search_arrow.svg");
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 0;
          border: 1px solid #979797;
          border-left: none;
          text-indent: -9999px;
          cursor: pointer;
        }
      }
    }
  }
}